---
import MainLayout from "@/layouts/MainLayout.astro";
import WaitlistForm from "@/components/WaitlistForm.astro";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import homeBackground from "/public/landing-page-bg.webp";
---

<MainLayout>
  <div
    class="flex h-[calc(100vh-66px)] overflow-hidden p-6
    md:min-h-[calc(100vh-80px)]"
  >
    <Image
      src={homeBackground}
      alt=""
      aria-hidden="true"
      width={960}
      height={860}
      class="pointer-events-none absolute top-0 right-0 left-0 z-0 h-full w-full object-cover object-right-bottom opacity-70 mix-blend-screen"
    />

    <div
      class="relative z-10 mx-auto flex w-full flex-col items-center justify-center gap-8 overflow-hidden text-center"
    >
      <div class="z-10 flex w-full max-w-lg flex-col items-center gap-12">
        <h1
          class="z-10 text-5xl sm:text-7xl font-medium tracking-[-0.04em] leading-tight"
        >
          Fine, I’ll build it myself.
        </h1>
        <p
          class="z-10 mx-auto text-center text-balance text-[#9f9f9f] sm:text-lg"
        >
          A growing collection of open source tools for small, stubborn
          problems. Fast, minimal, and made out of necessity.{" "}
          <span class="font-medium text-white">Coming soon.</span>
        </p>
        <WaitlistForm count={1250} />

        <div>
          <Button
            variant="outline"
            className="mx-auto flex w-min items-center gap-2 rounded-none"
            asChild
          />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
